body{
    position: relative;
}

.directory{
    bkackground-color: gray;
    max-width: 90rem;
}

.title-container{
    display: flex;
    justify-content: center;
}

.add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-person{
    max-height: 2.4rem;
}

.title{
    font-size: 2.8em;
}

.search-bar{
    width: 100%;
    max-width: 40rem;
}

.filter{
    max-width: 8rem;
}

.details-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px;
    row-gap: 1rem;
    column-gap: 1rem;
}

.employee-container{
    display: inline-flex;
    cursor: pointer;
    transition: all 0.3s;
}

.employee-container:hover{
    transform : translateY(-5px);
}

.img-container{
    width: 8rem;
    max-height: 6rem;
}

.employee-image{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;
}

.employee-name{
    font-weight: bold;
}

.employee-occupation{
    font-size: 0.9em;
}

.employee-department{
    font-size: 0.8em;
    color: rgb(131, 126, 126);
}

.info-btn{
    background-color: deepskyblue;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 0.8em;
    width: 3rem;
    height: 1.5rem;
    transition: all 0.3s;
}

.info-btn:hover{
    background-color: rgb(53, 205, 255);
}

@media only screen and (max-width: 830px){
    .details-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 110px;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    /* .alpha-filter{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(13,1fr);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 0.3rem;
        grid-column-gap: 0.3rem;
    } */
}

@media only screen and (max-width: 565px){
    .details-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 110px;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .alpha-filter{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-row-gap: 0.3rem;
        grid-column-gap: 0.3rem;
    }
}

@media only screen and (min-width: 1400px){
    .details-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 110px;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .custom-offcanvas{
        min-width: 370px;
    }
}

.rem{
    min-width: 9rem;
}

.department-icon{
    position: absolute;
    display: inline-block;
    height: 1.7rem;
    margin-bottom: 4px;
}

.filter-department{
    width: 100%;
    padding-left: 30px;
}

.filter-img{
    max-height: 3rem;
}

.offcanvas-header,
.offcanvas-body{
    background-color: black;
}

.item{
    position: relative;
    /* background-color: #24282c; */
    background-color: transparent;
    border-radius: 6px;
    padding-inline: 5px;
    padding-block: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.item-hover:hover{
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
}

.filters{
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
}

.sub-menu {  
    padding: 10px;
    margin-left: 20px;  
    /* background-color: #232629; */
    border-radius: 4px;  
    margin-top: 5px;
}  

.sub-item{
    padding: 10px;  
    /* background-color: #232629; */
    border-radius: 4px;  
    margin-top: 5px;
    color:white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
    transition: all 0.3s;
}

.sub-item:hover{
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
}

.sub-item:active{
    /* background-color: white;
    color: black; */
    box-shadow: 0px 0px 3px 3px rgb(53, 205, 255);
}

.custom-offcanvas{  
    max-width: 300px;
} 

.alpha-filter{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(26,1fr);
    grid-column-gap: 0.7rem;
}