body{
    margin: 0;
    height: 100vh;
    background-color: #E3E6E6;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container{
    /* background-color: #30243c; */
    background-color: white; 
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 1000px;
    height: 90vh;
}

.imgslide{
    width: 50%;
}

.login-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.com-img{
    max-height: 86vh;

}

.com-title{
    display: inline-block;
    vertical-align: bottom;
    margin-left: -20px
}

.logo-img{
    width: 13rem;
    display: inline-block;
}

.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
    position: relative;
}
.floating-label {
    font-size: 16px;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 35px;
    transition: all 0.5s ease;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: -20px;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #404040;
}

.custom-input {
    height: 3rem;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid rgb(102, 99, 99);
    width: 27vw;
}

.custom-input:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: 0px 0px 2px 0px black;
}

.username-img{
    left: 5px;
    position: absolute;
    bottom: 13px;
}

.password-view{
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.submit{
    width: 10rem;
}

.pass-con{
    margin-bottom: 0;
}

.btn-style{
    display: flex;
    justify-content: center;
}

.ran{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 890px){
    .ran{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 770px){
    .login-container{
        width: 94vw;
        display: flex;
        justify-content: center;
    }
    
    .ran{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .imgslide{
        display: none;
    }

    .custom-input{
        width: 50vw;
    }

    .login-form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .responsive-title{
        display: block;
    }

    .logo-img{
        display: none;
    } */
}