.nav-bar{
    background-color: cadetblue;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
}

.profile{
    border-radius: 50%;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.profile-btn{
    background-color: transparent;
    border: none;
}
